{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center mb-4 titulo_preguntas">Preguntas Frecuentes</h1>

    <div class="faq-container">
         <details class="faq-item">
            <summary>¿Los juegos y membresías son originales y oficiales de PlayStation?</summary>
               <p>Sí, todos nuestros juegos y membresías son 100% oficiales de PlayStation.</p>
         </details>

         <details class="faq-item">
            <summary>¿Cómo recibo mi juego o código después de la compra?</summary>
               <p>Recibís el juego por WhatsApp junto al instructivo y datos del usuario.</p>
         </details>

         <details class="faq-item">
            <summary>¿Puedo usar mi cuenta personal o debo usar una nueva?</summary>
               <p>Para cada juego se entrega un usuario, si es PRIMARIO  Jugas en tu usuario personal, si es SECUNDARIO jugas en el usuario brindado</p>
         </details>

         <details class="faq-item">
            <summary>¿Qué diferencia hay entre cuenta primaria y secundaria?</summary>
               <p>Cuenta Primaria: Recibis un usuario el cual colocas en tu consola y una vez instalado, jugas en tu usuario personal (despues de instalar, no necesitas WiFi)</p>
               <p>Cuenta Secundaria: Recibis un usuario el cual colocas en tu consola pero jugas en ese usuario brindado, necesitas siempre conexion WiFi</p>
         </details>

         <details class="faq-item">
            <summary>¿Qué métodos de pago aceptan?</summary>
               <p>Aceptamos transferencias bancarias y de billeteras virtuales (BNA, Cuenta DNI, Mercado Pago, Uala, Naranja X, etc)</p>
               <p>Aceptamos efectivo (Rapipago, Pago facil). Recargo del 10%</p>
               <p>Tarjetas de credito/debito/QR. Recargo del 10%</p>
         </details>

         <details class="faq-item">
            <summary>¿Cuánto tarda en llegar mi compra?</summary>
               <p>La preparación de la cuenta puede tardar máximo 2 horas en entregarse después de abonar</p>
         </details>

         <details class="faq-item">
            <summary>¿Venden suscripciones PS PLUS o PSN Card?</summary>
               <p>Sí, Vendemos PS PLUS que aplica a todos tus usuarios</p>
               <p>Las PSN Cards que vendemos funcionan en cuentas región USA</p>
         </details>

         <details class="faq-item">
            <summary>¿Los precios incluyen impuestos? </summary>
               <p>Sí, el precio que ves en los juegos es el precio final.</p>
         </details>

         <details class="faq-item">
            <summary> ¿Qué hago si el código o la cuenta no funcionan?</summary>
               <p>Contactanos a WhatsApp o Instagram y te brindamos las soluciones</p>
         </details>

         <details class="faq-item">
         <summary> ¿Cómo contacto con soporte si tengo un problema?</summary>
            <p>Podes contactarnos al WhatsApp o Instagram donde nos hayas comprado el juego y te brindamos la solución a tu problema</p>
         </details>
    </div>
{% endblock %}