{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Tu CSS personalizado -->
  <link rel="stylesheet" href="{% static 'featured/css/styles.css' %}">
  <title>Destacados - Catalogo</title>
</head>


<body>
  <!-- Tu contenido va acá -->

    <div class='container'>
        <div class='row'>
            <div class="col border">1</div>
            <div class="col border">2</div>
            <div class="col border">3</div>
            <div class="col border">4</div>
            <div class="col border">5</div>
            <div class="col border">6</div>
            <div class="col border">7</div>
            <div class="col border">8</div>
            <div class="col border">9</div>
            <div class="col border">10</div>
            <div class="col border">11</div>
            <div class="col border">12</div>
        </div>

        <div class='row'>
            <div class="col-12 col-md-6 col-lg-3 border">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, officiis tempore veritatis reiciendis reprehenderit facere dolorum quisquam exercitationem ipsum fugiat dignissimos deleniti odit tempora sequi sit dolor rerum impedit dolorem!</div>
            <div class="col-12 col-md-6 col-lg-3 border">Dolore nihil dolores velit minus labore quisquam, ipsam vero animi maxime incidunt, ullam, laborum maiores illum nulla repellat. Et animi quaerat facere soluta natus eveniet magnam asperiores itaque tempore quod.</div>
            <div class="col-12 col-md-6 col-lg-3 border">Porro non cum culpa saepe odio eligendi voluptatibus harum laborum, molestiae iste, error quos facilis totam temporibus, commodi recusandae ipsum corrupti veniam? Necessitatibus ad tenetur nostrum! Dolor quisquam deserunt praesentium!</div>
            <div class="col-12 col-md-6 col-lg-3 border">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero dignissimos id ex et voluptas eveniet repellat possimus incidunt ipsum aperiam. Illo tenetur voluptas labore perferendis iure quia odio possimus est.</div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
            <div class="col border">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla numquam harum repellendus magnam quas omnis cum quo reprehenderit perspiciatis tempora labore iste, obcaecati, a magni ratione quibusdam voluptates adipisci quam.</div>
            <div class="col border">Quibusdam officiis soluta amet natus numquam exercitationem quod nostrum rem minima minus aperiam, fuga eum ex voluptatem eos quisquam inventore sapiente. Minus similique suscipit maxime, recusandae consectetur quos quis alias?</div>
            <div class="col border">Provident exercitationem vitae impedit fugiat autem inventore temporibus commodi possimus voluptates eligendi. Nulla rerum natus laboriosam sequi, inventore ea voluptas fuga quod recusandae, dolorem deleniti. Doloribus quos minus explicabo facere.</div>
            <div class="col border">Rerum quibusdam dolorum eveniet tempora quia ipsa nulla unde in mollitia pariatur excepturi aut modi minus quisquam, reprehenderit fugiat nesciunt dolor consequuntur quas commodi. Suscipit, at! Ut excepturi consectetur aliquid?</div>
        </div>
    </div>   

  <!-- Bootstrap JS + Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Tu JS personalizado -->
  <script src="{% static 'featured/js/scripts.js' %}"></script>
</body>



</html>