{% extends 'base.html' %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-5">
                <h1>Tienda ProShopGames</h1>

                <ul>
                    <li>Llevamos +3 años en el mercado vendiendo videojuegos de forma DIGITAL</li>
                    <li>Contamos con +600 reseñas y +18.000 seguidores</li>
                    <li>Todos nuestros juegos tienen garantía de 1 AÑO desde su compra</li>
                    <li>Aceptamos TODOS los medios de pago
                        <ul>
                            <li>Tarjetas de Credito/Debito</li>
                            <li>Efectivo Rapipago/Pago Fácil</li>
                            <li>Transferencia (Billeteras virtuales, bancarias, etc.)</li>
                        </ul>
                    </li>

                </ul>

                <div class="text-center">
                    <a class="btn btn-dark" onclick="window.open('https://wa.me/message/6MDNU3VQ6CDOH1')">
                        <i class="fa-brands fa-whatsapp"></i> 
                    </a>
                    <a class="btn btn-primary" onclick="window.open('https://www.instagram.com/proshopgames17/')">
                        <i class="fa-brands fa-instagram"></i> 
                    </a>
                    <a class="btn btn-dark" onclick="window.open('https://www.tiktok.com/@proshopgames?lang=es')">
                        <i class="fa-brands fa-tiktok"></i> 
                    </a>    
                </div>
            </div>
        </div>
    </main>
{% endblock %}