{% extends 'base.html' %}

{% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">ProshopGames</h1>
            <p class="text-center">Catalogo digital de juegos PS4 y PS5</p>
            <p class="text-center">Podes ver los juegos disponibles, o mandanos un mensaje en nuestras redes sociales!</p>
            <h3 class="display-1 text-center">Catalogos</h3>
            <div class="text-center">
                <a class="btn btn-dark" href="/catalogo/ps4/">
                    <i>PS4</i> 
                </a>
                <a class="btn btn-primary" href="/catalogo/">
                    <i>Completo</i> 
                </a>
                <a class="btn btn-primary" href="/catalogo/ps5/">
                    <i>PS5</i> 
                </a>
            </div>
        </section>
    </main>
{% endblock %}